:root{
    --bright-blue:hsl(220, 98%, 61%);
    --check-background:linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    --very-light-gray:hsl(0, 0%, 98%);
    --very-light-grayish-blue:hsl(236, 33%, 92%);
    --light-grayish-blue:hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue:hsl(235, 19%, 35%);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    height:100%;
    font-size: calc(1em + 1vw);
}
body{
    width:100%;
    height:100%;
    font-size:1.125em;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--very-light-gray);
}
.todo-panel{
    width:100%;
    height:100%;
}
.title{
    margin-top: -220px;
    margin-left:-240px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0.3em;
   color:var(--very-light-gray); 
   position: relative;
}
.header-img{
    z-index: -999;
    position: relative;
}
.moon-icon{
    margin-top:-80px;
    float:right;
    margin-right: 290px;
    z-index: 1;
}
.input-fild{
   width:530px;
   height:60px;
   margin-left:449px;
   border-radius: 10px;
   background-color:white;
   justify-content: center;
   align-items: center;
   text-align: center;
   display: block;
   z-index: -99;
}
.button-cheked{
    width:20px;
    height:20px;
    border-radius: 50%;
    border:1px solid var(--light-grayish-blue);
    margin-top:20px;
    margin-left:20px;
    z-index: 2;
    position: absolute;
    cursor: pointer;
}
.button-cheked:hover{
    border:1px solid var(--bright-blue);
}
input{
   width:300px; 
   height:40px;
   margin-left:-200px;
   margin-top: 9px;
   position: absolute;
   border: none;
   outline: none;
   font-size: 0.7em;
   color: var(--very-dark-grayish-blue);
   font-weight: 400;
   text-shadow: 0px 0px 0px #000;
   -webkit-text-fill-color: transparent
}
::placeholder{
    font-size: 0.8em;
    color: var(--very-dark-grayish-blue);
    font-weight: 400;
}
.cheked-btn{
   z-index: 1;
   position: relative;
}
.todo{
    width:530px;
   height:60px;
   margin-top: 100px;
   margin-left:449px;
   border-radius: 10px;
   background-color: white;
   box-shadow: 1px 1px 1px rgb(0,0,0,0.2);
   justify-content: center;
   align-items: center;
   text-align: center;
   display: block;
   z-index: -99;
   display: flex; 
}


.active{
    margin: 10px;
    font-size: 0.5em; 
    font-weight: 700;
    cursor: pointer;
    color:rgb(49, 215, 221);
    z-index: 1; 
}
.paragraf{
    margin: 10px;
    font-size: 0.5em; 
    font-weight: 700;
    cursor: pointer;
    color:var(--dark-grayish-blue);
   z-index: 1;
}
.paragraf:hover{
    color:black;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }